<a href="https://colab.research.google.com/github/shreekrishh/QuantClub_Martingales/blob/main/Martingales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Martingale
Implementation of Martingale for a particular stock in particular period of time

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/martingale/AAPL.csv')
df.head()

       Date    Adj_Close
0  6/3/2019  1036.229980
1  6/4/2019  1053.050049
2  6/5/2019  1042.219971
3  6/6/2019  1044.339966
4  6/7/2019  1066.040039

In [ ]:
df.rename(columns={'Adj_Close':'price'}, inplace=True)

In [ ]:
df

          Date        price
0     6/3/2019  1036.229980
1     6/4/2019  1053.050049
2     6/5/2019  1042.219971
3     6/6/2019  1044.339966
4     6/7/2019  1066.040039
...        ...          ...
3893       NaN          NaN
3894       NaN          NaN
3895       NaN          NaN
3896       NaN          NaN
3897       NaN          NaN

[3898 rows x 2 columns]

In [ ]:
df.isna().sum()

Date     3750
price    3750
dtype: int64

In [ ]:

df = df[:148]

In [ ]:
df

           Date        price
0      6/3/2019  1036.229980
1      6/4/2019  1053.050049
2      6/5/2019  1042.219971
3      6/6/2019  1044.339966
4      6/7/2019  1066.040039
..          ...          ...
143  12/24/2019  1343.560059
144  12/26/2019  1360.400024
145  12/27/2019  1351.890015
146  12/30/2019  1336.140015
147  12/31/2019  1337.020020

[148 rows x 2 columns]

In [ ]:
copy = df.copy()          #we would like to work on copy to avoid warnings of SettingWithCopyWarning
prev_close = []
for i in range(len(df)):
  if i==0:
    prev_close.append('NAN')
  else:
    prev_close.append(df['price'][i-1])
print(prev_close)
copy['previous_close'] = prev_close

['NAN', 1036.22998, 1053.050049, 1042.219971, 1044.339966, 1066.040039, 1080.380005, 1078.719971, 1077.030029, 1088.77002, 1085.349976, 1092.5, 1103.599976, 1102.329956, 1111.420044, 1121.880005, 1115.52002, 1086.349976, 1079.800049, 1076.01001, 1080.910034, 1097.949951, 1111.25, 1121.579956, 1131.589966, 1116.349976, 1124.829956, 1140.47998, 1144.209961, 1144.900024, 1150.339966, 1153.579956, 1146.349976, 1146.329956, 1130.099976, 1138.069946, 1146.209961, 1137.810059, 1132.119995, 1250.410034, 1239.410034, 1225.140015, 1216.680054, 1209.01001, 1193.98999, 1152.319946, 1169.949951, 1173.98999, 1204.800049, 1188.01001, 1174.709961, 1197.27002, 1164.290039, 1167.26001, 1177.599976, 1198.449951, 1182.689941, 1191.25, 1189.530029, 1151.290039, 1168.890015, 1167.839966, 1171.02002, 1192.849976, 1188.099976, 1168.390015, 1181.410034, 1211.380005, 1204.930054, 1204.410034, 1206.0, 1220.170044, 1234.25, 1239.560059, 1231.300049, 1229.150024, 1232.410034, 1238.709961, 1229.930054, 1234.030029, 1218.76001, 1246.52002, 1241.390015, 1225.089966, 1219.0, 1205.099976, 1176.630005, 1187.829956, 1209.0, 1207.680054, 1189.130005, 1202.310059, 1208.670044, 1215.449951, 1217.140015, 1243.01001, 1243.640015, 1253.069946, 1245.48999, 1246.150024, 1242.800049, 1259.130005, 1260.98999, 1265.130005, 1290.0, 1262.619995, 1261.290039, 1260.109985, 1273.73999, 1291.369995, 1292.030029, 1291.800049, 1308.859985, 1311.369995, 1299.189941, 1298.800049, 1298.0, 1311.459961, 1334.869995, 1320.699951, 1315.459961, 1303.050049, 1301.349976, 1295.339966, 1306.689941, 1313.550049, 1312.98999, 1304.959961, 1289.920044, 1295.280029, 1320.540039, 1328.130005, 1340.619995, 1343.560059, 1344.660034, 1345.02002, 1350.27002, 1347.829956, 1361.170044, 1355.119995, 1352.619995, 1356.040039, 1349.589966, 1348.839966, 1343.560059, 1360.400024, 1351.890015, 1336.140015]

We begin with one AAPL stock and increase the transaction volume or quantity on losing trades by a factor of two. Winning trades are valued at a 1.5% increase, while losing trades are valued at a 1.5% decline from the previous close price.

In [ ]:
# Signal is a indication of action to the investor if he has buy, hold.
# If current day’s price is 1.5% greater than previous day’s close then +1,
# if current day’s price is 1.5% less than previous day’s close then -1, Otherwise 0.

df = copy
signal = []
for i in range(len(df)):
  if i ==0:
    signal.append(0)
  elif df['price'][i] > (1.015)*df['previous_close'][i]:
    signal.append(1)
  elif df['price'][i] < (0.985)*df['previous_close'][i]:
    signal.append(-1)
  else:
    signal.append(0)

In [ ]:
copy['signal'] = signal   #signal is for next day

In [ ]:
#quantity is number of shares the investor own on the day.
df = copy
quantity = [1,1]
for i in range(2, len(df)):
  if df['signal'][i-1]==-1:
    quantity.append(quantity[i-1]*2)
  else:
    quantity.append(quantity[i-1])
  
copy['quantity']=quantity

Now, i am taking one assumption that buyer is buying stock at the end of the day on which signal is -1

In [ ]:
# invested money is total money invested from the starting date to till date.
df = copy
invested = ['NAN',df['price'][0]]
for i in range(2, len(df)):
  if df['quantity'][i]==df['quantity'][i-1]:
    invested.append(invested[i-1])
  else:
    invested.append(invested[i-1]+(df['previous_close'][i]*(df['quantity'][i]-df['quantity'][i-1])))
print(invested)
copy['invested_money'] = invested

['NAN', 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 1036.22998, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 2122.579956, 4427.219848000001, 4427.219848000001, 4427.219848000001, 4427.219848000001, 4427.219848000001, 4427.219848000001, 4427.219848000001, 9084.380004, 9084.380004, 9084.380004, 9084.380004, 9084.380004, 9084.380004, 9084.380004, 18294.700316000002, 18294.700316000002, 18294.700316000002, 18294.700316000002, 18294.700316000002, 18294.700316000002, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 36988.940556, 74641.100716, 74641.100716, 74641.100716, 74641.100716, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 150745.421036, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396, 312360.780396]

In [ ]:
# Returns are returns on the given date and returns_in_per are returns on the given date in percentage 
df = copy
returns =[]
returns_per = []
for i in range(len(df)):
  if i == 0:
    returns.append('NAN')
    returns_per.append('NAN')
  else:
    returns.append((df['price'][i]-df['previous_close'][i])*df['quantity'][i])
    returns_per.append(returns[i]/(df['previous_close'][i]*df['quantity'][i]))
copy['returns'] = returns
copy['returns_in_per'] = returns_per

In [ ]:
# cumulative returns is net returns from the starting date to till date,
# cumulative returns in percentage is total returns from starting date to till date in percentage.
df = copy
cumulative_returns = ['NAN']
cumulative_returns_per = ['NAN']
net_returns = 0
for i in range(1, len(df)):
  net_returns+=df['returns'][i]
  cumulative_returns.append(net_returns)
  cumulative_returns_per.append((net_returns*100)/df['invested_money'][i])


copy['cumulative_returns'] = cumulative_returns
copy['cumulative_returns_in_per'] = cumulative_returns_per

In [ ]:
df = copy

In [ ]:
df

,Date,price,previous_close,signal,quantity,invested_money,returns,returns_in_per,cumulative_returns,cumulative_returns_in_per
0,6/3/2019,1036.229980,NAN,0,1,NAN,NAN,NAN,NAN,NAN
1,6/4/2019,1053.050049,1036.22998,1,1,1036.22998,16.820069,0.016232,16.820069,1.623198
2,6/5/2019,1042.219971,1053.050049,0,1,1036.22998,-10.830078,-0.010284,5.989991,0.578056
3,6/6/2019,1044.339966,1042.219971,0,1,1036.22998,2.119995,0.002034,8.109986,0.782643
4,6/7/2019,1066.040039,1044.339966,1,1,1036.22998,21.700073,0.020779,29.810059,2.87678
...,...,...,...,...,...,...,...,...,...,...
143,12/24/2019,1343.560059,1348.839966,0,256,312360.780396,-1351.656192,-0.003914,31590.594708,10.113496
144,12/26/2019,1360.400024,1343.560059,0,256,312360.780396,4311.03104,0.012534,35901.625748,11.493641
145,12/27/2019,1351.890015,1360.400024,0,256,312360.780396,-2178.562304,-0.006256,33723.063444,10.79619
146,12/30/2019,1336.140015,1351.890015,0,256,312360.780396,-4032.0,-0.01165,29691.063444,9.505375
147,12/31/2019,1337.020020,1336.140015,0,256,312360.780396,225.28128,0.000659,29916.344724,9.577497

In [ ]:
df.to_csv("/content/drive/MyDrive/martingale/apple.csv", index=False)